<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="/">
        <img src="/transactlogo.png" alt="logo"  class="img-fluid" >
        <img src="/usdmedallion.png" alt="u of san diego logo"  class="img-fluid">

        <% if(isAuthenticated) { %>
            <div class="navbar-nav">
                <a class="btn btn-success" href="/signout" role="button">Sign-out</a>
                <% if (roles == "issuer") { %>
                    <a class="nav-link" href="/issuer">Admin</a>
                <% } else if (role == "verifier") { %>
                    <a class="nav-link" href="/verifier">Verify Credential</a>
                <% } %>
                <a class="nav-link" href="/home">Get Credential</a>
            </div>
        <% } %>
    </a>
</nav>