<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="/">
        <img src="/transactlogo.png" alt="logo"  class="img-fluid" >
        <img src="/usdmedallion.png" alt="u of san diego logo"  class="img-fluid">
     
     
        <% if (isAuthenticated) { %>
            <a class="btn btn-success" href="/signout" role="button">Sign-out</a>
            <% }%>
    </a>
</nav>
