<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" status="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Holder</title>
</head>

<body>

    <%- include('includes/navbar', {isAuthenticated: isAuthenticated, configured}); %>
        <%- include('includes/footer'); %>
            <div id="card-div" class="col-md-3">
                Placeholder for where user info goes
            </div>
            <div class="row" style="margin:auto">
                <div id="card-div" class="col-md-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <a class="btn btn-secondary" href="/existingcredtypes" role="button">View Existing
                                Credential Types</a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // Initialize MSAL library by using the following code
                const msalConfig = {
                    auth: {
                        clientId: process.env.AD_APR_CLIENT_ID,
                        authority: `https://login.microsoftonline.com/7b79d002-1780-49a7-804f-8437a1f0222d/oauth2/v2.0/token`,
                        clientSecret: process.env.AD_API_CLIENT_SECRET,
                    },
                    system: {
                        loggerOptions: {
                            loggerCallback(loglevel, message, containsPii) {
                                console.log(message);
                            },
                            piiLoggingEnabled: false,
                            logLevel: msal.LogLevel.Verbose,
                        }
                    }
                };
                const cca = new msal.ConfidentialClientApplication(msalConfig);
                const msalClientCredentialRequest = {
                    scopes: ["6a8b4b39-c021-437c-b060-5a14a3fd65f3/.default"],
                    skipCache: false,
                };
                module.exports.msalCca = cca;
                module.exports.msalClientCredentialRequest = msalClientCredentialRequest;

                // Acquire an access token
                const result = await mainApp.msalCca.acquireTokenByClientCredential(mainApp.msalClientCredentialRequest);
                if (result) {
                    accessToken = result.accessToken;
                    console.log(accessToken)//@TODO remove, debugging only
                }
            </script>
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
</body>

</html>