<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" status="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Digital Credentials</title>

</head>

<body>

    <%- include('includes/navbar', {isAuthenticated: isAuthenticated, configured, roles}); %>
    <% if (isAuthenticated) { %>

    <script src="qrcode.min.js"></script>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-4 align-items-center justify-content-center">
        <div class="card text-center">
            <div class="card-body">
                <small>
                    <div id="qrText" style="display:block;">
                        <p class="small-text">
                            <img src="authenticator-icon.png" alt="Authenticator icon" class="img-fluid"
                                style="width:10%"><br>
                            Scan with Microsoft Authenticator
                        </p>
                    </div>
                </small>
                <div id="qrcode" style="text-align: center"></div>
                <div id="pinCodeText" style="text-align: center; display:none"></div>
            </div>
        </div>
        <div class="card text-center" id="message-wrapper" style="display: none;">
            <div class="card-body">
                <div id="message"></div>
            </div>
        </div>
    </div>
    <% } %>
    <!-- The code below first renders the QR then awaits for the code to be scanned and updates the page accordingly-->
    <script>
        // Create the qr code
        var qrcode = new QRCode("qrcode", {
            width: 300,
            height: 300
        });
        // Create the qr code from the passed variables
        qrcode.makeCode('<% __append(qrlink.url)%>'); //we know this works
        if ('<% __append(qrpin)%>') {
            document.getElementById('pinCodeText').innerHTML = "Pin code: " +
                '<% __append(qrpin)%>'; //this makes the qr code
            document.getElementById('pinCodeText').style.display = "block";
        }

        /** 
         * The QR code is already displayed on the screen
         * You have to wait for the user to scan the QR code
         * You will know the QR code has been scanned when the callback URL is called with 
         * the status request_retrieved, issuance_successful or issuance_error
         * 
         */
        checkIssuanceResponse();

        function displayMessage(msg) {
            document.getElementById('message-wrapper').style.display = "block";
            document.getElementById("message").innerHTML = msg;
        }

        function checkIssuanceResponse() {
            var checkStatus = setInterval(function () {
                fetch('issueance-response?id=<% __append(sessionId)%>') // This should be the session id
                    .then(response => response.text())
                    .catch(error => displayMessage(error))
                    .then(response => {
                        if (response.length > 0) {
                            console.log(response)
                            respMsg = JSON.parse(response);
                            // QR Code scanned, show pincode if pincode is required
                            if (respMsg.status == 'request_retrieved') {
                                document.getElementById("qrcode").getElementsByTagName("img")[0].style
                                    .opacity = "0.1";
                                document.getElementById('qrText').style.display = "none";
                                if (respMsg.pin) {
                                    document.getElementById('pinCodeText').style.display = "visible";
                                }
                                displayMessage(respMsg.message);
                            }
                            if (respMsg.status == 'issuance_successful') {
                                document.getElementById('qrcode').style.display = "none";
                                document.getElementById('pinCodeText').style.display = "none";
                                document.getElementById('message').innerHTML = respMsg.message;
                                clearInterval(checkStatus);
                            }
                            if (respMsg.status == 'issuance_error') {
                                document.getElementById('qrcode').style.display = "none";
                                document.getElementById('pinCodeText').style.display = "none";
                                document.getElementById('message').innerHTML =
                                    "Issuance error occurred, did you enter the wrong pincode? Please refresh the page and try again.";
                                document.getElementById('payload').innerHTML = "Payload: " + respMsg
                                    .payload;
                                clearInterval(checkStatus);
                            }
                        }
                    })
            }, 5500);
        }
    </script>
    </div>
    </div>
</body>

</html>