h1 {
    color: rgb(56, 78, 241);
}

body {
    background-color: rgba(55, 142, 255, 0.795);
}
.logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 15px; 
    justify-content:center;
}
.center {
    display: flex;
    justify-content: center;
}
  
.img-fluid {
    width: 75px;
    height: auto;
    margin-top: 6px;

}


.card-body{
      background-color: rgb(255, 255, 255);
      opacity: .95;
    }
#card-div {
    min-width: 40%;
    margin: 5% auto 5% auto;
}

#form-area-div {
    width: 55%;
    margin: 5% auto 5% auto;
}

.table-area-div {
    width: 70%;
    margin: 5% auto 5% auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}